/* .card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
} */
.card-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin: 0% auto;
  /* background-color: brown; */
  justify-content: space-around;
}
.card-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: #00008b; */
  background-color: rgb(30 58 138);
  box-shadow: rgba(0, 0, 0, 0.7);
  border-radius: 10%;
  color: white;
  margin-top: 1.25rem;
  height: 25rem;
  transition: all ease 0.2s;
}
.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: scale(1.05);
}
.card__image {
  height: 160px;
  width: 160px;
  margin: 0% auto;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 25px rgb(242, 237, 239);
}
.image-section {
  width: 100%;
  margin: 0% auto;
}
.name_section {
  /* font-size: 1.5rem; */
  font-weight: 700;
}
.reason_section {
  font-style: italic;
}
